.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form h2 {
  margin-bottom: 20px;
}

form label {
  font-weight: bold;
  margin-top: 10px;
}

form input,
form textarea {
  margin-top: 5px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-weight: bold;
}

form button:hover {
  background-color: #0056b3;
}
button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button[type="submit"]:hover {
  opacity: 1;
}

.response {
  max-width: 500px;
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
